
body{
	text-align: center;
}

.img-left{
	margin-right:20%;
}

.img-right{
	margin-left:20%;
	visibility: hidden;
}

#sliderlabels > li{
	float:left;
	display:inline;
	position:relative;
	width:14.2857%;
}

.sim{
	margin-top:5%;
}

.text-warning{
	color: #E74C3C;
}