
body{
	text-align: center;
	font-size: 18px !important;
}
label {
	padding-left: 10px;
}
.well > p{
	text-align: left;
}
.left{
	margin-right:20%;
}
.img-left{
	padding-right:25%;
}
.right{
	margin-left:20%;
}
.img-right{
	padding-left:20%;
}

#scalelabels{
	float:left;
	display:inline;
	position:relative;
	width:10.5%;
}
#likert_scale {
	display: block;
	margin-top: 10%;
	width: 710px;
	border: 0px;
}

#scale_value {
	margin-left: 15px;
	margin-right: 15px;
}

.sim{
	margin-top:5%;
}



/* not useful*/
.text-warning{
	color: #E74C3C;
}

.qstn-select{
	width: 250px;
	border: 0;
	height:40px;
	background-color:none;
}
#sliderlabels{
	float:left;
	display:inline;
	position:relative;
	width:10.3%;
}
#sliderlabelName2 {
	float:left;
	display:inline;
	position:relative;
	width:20%;
	margin-left: 25%;
}
#sliderlabelName1 {
	float:left;
	display:inline;
	position:relative;
	width:20%;
	margin-right: 35%;
}

