<div id="blank" class="blank"></div>
<div id="container-exp">
	<div id="trial" style="text-align:center;">
		<h2>Rate the similarity between these two faces from 1 to 7</h2>
		<p id="progress"></p>
		<audio id="alert-audio"><source src="/static/sound/alert.mp3" type="audio/mpeg"></audio>
		<audio id="pleasant-audio"><source src="/static/sound/pleasant.mp3" type="audio/mpeg"></audio>
		<p id="alert-text" class="alert-text">Answer Timeout! You will redo this set later.</p>
		<div id="imgcontainer">
		</div>
		<div id="query" style="display:inline">
			<input type="button" value="1" id="b1" class="roundbutton"/>
			<input type="button" value="2" id="b2" class="roundbutton"/>
			<input type="button" value="3" id="b3" class="roundbutton"/>
			<input type="button" value="4" id="b4" class="roundbutton"/>
			<input type="button" value="5" id="b5" class="roundbutton"/>
			<input type="button" value="6" id="b6" class="roundbutton"/>
			<input type="button" value="7" id="b7" class="roundbutton"/>
		</div>
		<img src="/static/images/similarbar.png" style="width:100%"/>
	</div>
</div>