<div id="blank" class="blank">
	<div class="break-instruction" id="break-instruction" style="display:none">
		<p>You will now have a 1 minute break.</p>
		<p>After the break, there will be another 6 minutes' face triplet task. Then the task is over.</p><br/>
		<p>Press continue if you want to skip the break.</p>
	</div>
	<div class="instructionsnav">
	    <div class="row">
	        <div class="col-xs-8">
	        </div>
	        <div class="col-xs-2">
	            <button type="button" id="continue" value="continue" class="btn btn-primary btn-lg continue" style="display:none">
	            Continue <span class="glyphicon glyphicon-arrow-right"></span>
	            </button>
	        </div>
	    </div>
	</div>
</div>
<div id="container-exp">
	<div id="trial" style="text-align:center;">
		<h2>Which face looks more similar to the top one?</h2>
		<p id="progress"></p>
		<audio id="alert-audio"><source src="/static/sound/alert.mp3" type="audio/mpeg"></audio>
		<audio id="pleasant-audio"><source src="/static/sound/pleasant.mp3" type="audio/mpeg"></audio>
		<p id="alert-text" class="alert-text">Answer Timeout! You will redo this set later.</p>
		<div id="imgcontainer">
			<div id="topcontainer"></div>
			<div id="bottomcontainer"></div>
		</div>
	</div>
</div>
