<div id="blank" class="blank">
	<div class="break-instruction" id="break-instruction">
		<p>You will now have a 1 minute break.</p>
		<p>After the break, there will be another 6 minutes' face triplet task. Then the task is over.</p><br/>
		<p>Press continue if you want to skip the break.</p>
	</div>
	<div class="instructionsnav">
	    <div class="row">
	        <div class="col-xs-8">
	        </div>
	        <div class="col-xs-2">
	            <button type="button" id="continue" value="continue" class="btn btn-primary btn-lg continue">
	            Continue <span class="glyphicon glyphicon-arrow-right"></span>
	            </button>
	        </div>
	    </div>
	</div>
</div>
