<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">
            <div class="row qustion">
                <div class="    col-md-8">
                    Your gender is:
                </div>
                <div class="col-md-4">
                    <select id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>

            <div class="row qustion">
                <div class="col-md-8">
                    Please enter your age
                </div>
                <div class="col-md-4">
                    <input id="age" name="age" style="height:20px;margin-top:3px;font-size:12px;"/>
                </div>
            </div>
            
            <div class="row qustion">
                <div class="col-md-8">
                    Please specify your ethnicity
                </div>
                <div class="col-md-4">
                    <select id="demographic" name="demographic">
                        <option value="white"> White</option>
                        <option value="hispanic"> Hispanic or Latino</option>
                        <option value="african"> Black or African American</option>
                        <option value="indian"> Native American or American Indian</option>
                        <option value="asian"> Asian / Pacific Islander</option>
                        <option value="other"> Other</option>
                    </select>
                </div>
            </div>

           <div class="row qustion">
                <div class="col-md-8">
                    Indicate your handedness
                </div>
                <div class="col-md-4">
                    <select id="handedness" name="handedness">
                        <option value="right"> Right-handedness</option>
                        <option value="left"> Left-handedness</option>
                        <option value="mixed"> Mixed-handedness</option>
                    </select>
                </div>
            </div>

            <!-- end of a question -->
        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
