<div id="container-instructions">

    <h1>Instruction (1/3)</h1>

    <hr>

    <div class="instructions well">

        <p>In this experiment, you will see many faces and your task is to compare and judge face similarities.</p>
        <p>There are two types of tasks: face pair task and face triplet task</p>
        <div class="row">
            <div class="col-md-6">
                <h5><b>Face Pair Task</b></h5>
                <p>Rate the similarity level of the face pair from 1 to 7.</p>
                <p>1 -- Maximally dissimilar, 7 -- Maximally similar</p>
                <img src="/static/images/instru-p1.png" style="width:100%"/>
            </div>
            <div class="col-md-6">
                <h5><b>Face Triplet Task</b></h5>
                <p>Decide which of the bottom face images is more similar to the top one. You can press "Left"/ "Right" button or click on the left/ right face image to indicate your choice.</p>
                <img src="/static/images/instru-p2.png" style="width:100%"/>
            </div>
        </div>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
