<div id="container-instructions">

    <h1>Instructions (3/3)</h1>

    <hr>

    <div class="instructions well">

        <p>Each presentation will remain on the screen for 0.5 seconds before you can start to respond. After choice bottoms appear, indicate your choice as fast as you can, in no more than 3 seconds. You will see the next page after indicating your choice.</p>
        <p>If you respond too fast or too slow, you will hear a warning sound.</p>
        <p>Between the tasks, you will have a 1 min break.</p>
        <br/>
        <p>You will enter the practice session after this page. Press "Continue" to start your practice. Press "Back" to return to previous instruction pages.</p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
