<div id="container-instructions">

    <h1>Instruction (2/3)</h1>

    <hr>

    <div class="instructions well">

        <p>The whole experiment will last approximately 20 mins. The timeline is as follows.

        <div style="text-align:center;">
            <img src="/static/images/instru-p3_new.png" style="width:100%"/>
        </div>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
